body {
  background-color: darkslategrey;
}
.App {
  text-align: center;
  background-color: rebeccapurple;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.App-title {
  font-size: 70px;
}

.Russ {
  animation: Russ-spin infinite 20s linear;
  clip-path: circle(48%);
  height: 290px;
  width: 300px;
    margin-bottom: 40px;
}
/*
.Russ:hover {
    height: 310px;
    width: 325px;
}
*/
@keyframes Russ-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

nav ul {
  padding: 5px 5px;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  margin-right: 50px;
    font-family: monospace;
}

.frontAndCenter {
    margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
    position: absolute;
    top: 0;
    left: 0; bottom: 0; right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imean  {

    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin-right: 0;
}

ul li a {
    color: darkorange;
    font-size: 25px;
    margin-bottom: 25%;
}


ul li a .nav-link:hover {
    color: black;
}

.zoom {
    font-family: monospace;
}

.text {
    color: white;
    font-family: monospace;
    text-align: center;
}
